[submodule "src/dpdk"]
	path = src/dpdk
	url = http://dpdk.org/git/dpdk
	ignore = dirty
[submodule "tools/unity"]
	path = tools/unity
	url = http://github.com/ThrowTheSwitch/Unity.git
	ignore = dirty

